@model PasswordModel
@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="PasswordCheck">
    <div>
        Enter a password: <input type="password" asp-for="Password" />
    </div>
    <div>
        Re-enter the password: <input type="password" asp-for="PasswordConfirmation" />
    </div>
    @*when the user first lands on this page the error message will be null.
        we only want to show it if there has been a previous failed attempted *@
    @if (ViewData["errorMessage"] != null)
    {
        @ViewData["errorMessage"]
    }
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

